/* FONTS */
@font-face {
	font-family: PTSerif;
	src: url(PT_Serif/PTSerif-Regular.ttf);
}
@font-face {
	font-family: PTSerif;
	src: url(PT_Serif/PTSerif-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: PTSans;
	src: url(PT_Sans/PTSans-Regular.ttf);
}

/* HIDE THINGS */
#la-group {
	display: none;
}

/* General */
body {
	margin: 0px 15%;
	font-family: PTSans, Arial, Helvetica, sans-serif;
}
h1 {
	font-family: PTSerif, serif;
	font-size: 40px;
}
p {
	text-align: justify;
}

/* HEADER */
#header {
	height: 3em;
	text-align: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	line-height: 3em;
	z-index: 10001;
	background-color: white;
}
#header .logo {
	color: white;
	font-family: 'Source Sans Pro', serif;
	font-weight: bold;
	font-size: 1.25em;
	letter-spacing: 2px;
	text-decoration: none;
	text-align: center;
}
.logo-container {
	width: 130px;
	margin: auto;
	margin-top: 2px;
}
.logo {
	width: 100%;
	margin-top: 5px;
}

/* INTRO */
#intro {
	margin: 80px 0px;
	padding: 0px 10%;
}

/* FANCY BUTTON */
.buttons-coll {
  width: 90%;
  margin: 80px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  font-family: "PTSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 190px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  height: 60px;
}

.btn-1 {
  border: 2px solid #000;
}
.btn-1:hover {
  background: #000;
  color: #fff;
}
.btn-1:active {
  /*top: 2px;*/
}

/* Cover photo */
#cover-photo {
	width: 100%;
	height: 500px;
	background-color: grey;
	margin-top: 3em;
	left: 0;
	z-index: 10001;
}
/* Photos */
.triple-photo {
	width: 30%;
	margin-bottom: 30px;
	/*min-width: 300px;*/
}
.landscape-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.triple-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0px 15px;
}
.landscape-photo {
	width: 45%;
	margin-bottom: 30px;
	min-width: 300px;
}
.photographer-text {
	/*margin: 10px 10%;*/
	margin: 0px 15px;
	margin-bottom: 50px;
}
.photo-group {
	margin-bottom: 60px;
}

	/* TESTING */
.column {
	width: 50%;
	padding: 0px 15px;
	box-sizing: border-box;
}
.col-photo {
	width: 100%;
	/*padding-bottom: 30px;*/
}
.photo-grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
	
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* FOOTER */
#footer {
	text-align: center;
	margin-bottom: 40px;
}
